# DEVELOPMENT PORT can not be set in .env as booting up the HTTP server happens before any other code is initialized.
# @see https://nextjs.org/docs/api-reference/cli#development
# @see https://nextjs.org/docs/api-reference/cli#production
PORT=3000
